<div class="row justify-content-around">
  <ng-container *ngIf="pictures">
    <mat-card class="col-3 mb-5" *ngFor="let picture of pictures">
      <mat-card-header>
        <mat-card-title>{{picture.name}}</mat-card-title>
        <mat-card-subtitle>{{picture.subtitle || '&nbsp;'}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="{{picture.path}}" alt="{{picture.path}}">

      <mat-card-content>
        <p>
          {{picture.description}}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="removePicture(picture.id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <mat-card class="col-3 mb-5">
    <mat-card-header class="row no-gutters">
      <mat-form-field appearance="fill" class="col-12 title">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12 subtitle">
        <mat-label>Subtitle (optionnal)</mat-label>
        <input matInput [(ngModel)]="subtitle">
      </mat-form-field>
    </mat-card-header>

    <img
      mat-card-image
      src="{{this.uploadedPath || this.defaultPath}}"
      alt="assets/upload_img.png"
      (click)="fileInput.click()"
      matTooltip="Clic to add an image."
      class="pointer"
    >
    <input type="file" class="d-none" #fileInput (change)="previewImage(fileInput.files)">

    <mat-card-content class="row no-gutters">
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Description...</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addPicture()">Add</button>
    </mat-card-actions>
  </mat-card>

  <ng-container *ngIf="pictures && (pictures.length + 1) % 3 !== 0">
    <div class="col-3 invisible" *ngFor="let i of [].constructor(3 - (pictures.length + 1) % 3)"></div>
  </ng-container>
</div>
