.home-block {
  background: #FFFF;

  &-image {
    height: 150px;
    width: 200px;
  }

  .ebg-logo {
    width: 400px;
  }

  &-image,
  .ebg-logo {
    background: #F5F5F5;
    border: 1px solid #D5D6DE;
    border-radius: 5px;
  }
}
