<div class="row">
  <h1 class="col-12 text-center">The Sanbox</h1>

  <div class="row col">
    <div class="col row no-gutters">
      <div class="home-block row no-gutters col mat-elevation-z2">
        <h2 class="pl-3">Eagle Bear Gang</h2>
        <div class="text-center col-12">
          <img src="assets/ebg.png" class="ebg-logo">
        </div>
        <div class="p-2 mt-2 mb-3 text-center">
          Voluptas explicabo et inventore distinctio quo. Doloribus est unde et accusantium qui nihil. Error veniam dicta dolores quae rerum. Cupiditate ipsa repellendus ut sed et est at.
        </div>
      </div>
    </div>

    <div class="col row no-gutters">
      <div class="home-block row no-gutters col mat-elevation-z2">
        <div class="col-12 row no-gutters p-2 flex-nowrap align-items-center" *ngFor="let i of [1,2,3]">
          <img src="assets/hockey-{{i}}.jpg" class="home-block-image">
          <div class="p-2">
            In similique voluptatem sint cupiditate quo non. Iure molestiae doloribus laudantium vero ab sed neque. Et omnis maiores corporis pariatur ullam.
            Velit saepe eos qui totam aut voluptatibus ipsam. Maxime non necessitatibus illo rem. Provident beatae necessitatibus et et possimus explicabo labore.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
