<div class="app-container">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon (click)="snav.toggle()">menu</mat-icon>
    </button>
    <a routerLink="">Sandbox</a>
    <ng-container *ngIf="this.user !== null">
      &nbsp;| {{user.email}}
    </ng-container>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <ng-container *ngIf="this.user === null">
        <button mat-menu-item routerLink="login">Login</button>
        <button mat-menu-item routerLink="/sign-up">Sign up</button>
      </ng-container>

      <ng-container *ngIf="this.user !== null">
        <button mat-menu-item (click)="logout()">Logout</button>
      </ng-container>

    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="mat-drawer-container">
    <mat-sidenav #snav mode="side" opened>
      <mat-nav-list>
        <app-snav></app-snav>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="p-3">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
