.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-container {
  flex: 1;
}

mat-sidenav {
  min-width: 240px;
}

.mat-list-base {
  padding-top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a,
.mat-toolbar a:visited
{
  color: #FFF;
  text-decoration: none;
}
