<div class="d-flex justify-content-center mb-4">
  <mat-button-toggle-group *ngIf="leagues" name="fontStyle" aria-label="Font Style" value="{{leagues[0].id}}">
    <mat-button-toggle
      *ngFor="let league of leagues"
      [value]="league.id"
      (change)="getLeagueCharacters(league.id)"
    >
      {{league.id}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">

  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef> Rank </th>
    <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
  </ng-container>

  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef> Account </th>
    <td mat-cell *matCellDef="let element"> {{element.account.name}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.character.name}} </td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.character.level}} </td>
  </ng-container>

  <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef> Class </th>
    <td mat-cell *matCellDef="let element"> {{element.character.class}} </td>
  </ng-container>

  <ng-container matColumnDef="online">
    <th mat-header-cell *matHeaderCellDef> Online </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.online">check</mat-icon>
      <mat-icon *ngIf="!element.online">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="dead">
    <th mat-header-cell *matHeaderCellDef> Dead </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.dead">check</mat-icon>
      <mat-icon *ngIf="!element.dead">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="twitch">
    <th mat-header-cell *matHeaderCellDef> Twitch </th>
    <td mat-cell *matCellDef="let element">
      <a
        *ngIf="element.account.twitch"
        href="https://www.twitch.tv/{{element.account.twitch.name}}"
        target="_blank"
        rel="noreferrer noopener"
        [matTooltip]="element.account.twitch.name"
        matTooltipClass="twitch-tooltip"
      >
        <img src="assets/twitch.svg" class="twitch-link" alt="https://www.twitch.tv/{{element.account.twitch.name}}">
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator class="mb-4" [length]="total" [pageSizeOptions]="[100]" showFirstLastButtons></mat-paginator>

