<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <h2>Log In</h2>
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" required formControlName="email">
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Password" required formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary">Login</button>

      <mat-hint class="pointer d-block mt-2" routerLink="/sign-up"><u>Click here to register</u></mat-hint>
    </form>
  </mat-card-content>
</mat-card>
