<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="signUp()">
      <h2>Sign Up</h2>
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" required formControlName="email">
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Password" required formControlName="password">
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Confirm password" required formControlName="confirmPassword">
      </mat-form-field>

      <button mat-raised-button color="primary">Sign up</button>

      <mat-hint class="pointer d-block mt-2" routerLink="/login"><u>Already have an account ?</u></mat-hint>
    </form>
  </mat-card-content>
</mat-card>
