/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "node_modules/bootstrap/scss/_mixins.scss";
@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/utilities/_display.scss";
@import "node_modules/bootstrap/scss/utilities/_flex.scss";
@import "node_modules/bootstrap/scss/utilities/_overflow.scss";
@import "node_modules/bootstrap/scss/utilities/_position.scss";
@import "node_modules/bootstrap/scss/utilities/_sizing.scss";
@import "node_modules/bootstrap/scss/utilities/_spacing.scss";
@import "node_modules/bootstrap/scss/utilities/_text.scss";
@import "node_modules/bootstrap/scss/utilities/_visibility.scss";
@import "node_modules/bootstrap/scss/_grid.scss";

.warn-snackbar {
  background: #F44336;

  button {
    color: #FFF;
  }
}
.success-snackbar {
  background: #3F51B5;

  button {
    color: #FFF;
  }
}

.twitch-tooltip {
  background: #451093;
  color: #FFF;
}

.pointer {
  cursor: pointer;
}
